@page
@model RensyuRensyu.ClientSide.IndexModel
@{
    ViewData["Title"] = "Index";
}
@*<base href="%PUBLIC_URL%/" />*@
<base href="/" />
@*<link rel="manifest" href="%PUBLIC_URL%/manifest.json">
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">*@
<div id="root"></div>

@section Scripts {
    <script src="/static/js/bundle.js"></script>
    <script src="/static/js/0.chunk.js"></script>
    <script src="/static/js/main.chunk.js"></script>
    <script>
                    //alert("aaa");
    </script>

} 