/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* メニューに隠れてしまう分をしたにずらす */
body {
    margin-top: 80px;
}

/* マスタメンテ装飾 */

